@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{/*esto lo uso para asignarle un color a una variable para poderlas usar luego */
    --primary-color: #064E3B;
    --secondary-color: #D4AF37;
    --tertiary-color:#BD322B;
    --neutral:#FCF9F1;
}
body{
    margin: 0;
    font-family: "Inter";
    background-color: rgb(255, 252, 217);
}
header{
    top:0%;
    display: flex;
    flex-direction: row;
    width: 100%;
    position: fixed;
    background-color: #ffda61;

}
.buttons-nav{
    margin-left: auto;
    padding: 20px 10px;
}

.buttons-nav a{
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(255, 208, 0);
    color: rgb(0, 0, 0);
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid rgb(0, 0, 0);
    
} 
a:hover{
    background-color: #D4AF37;
    cursor: pointer;
}
main{
    padding: 30px 100px;
    text-align: center;
}
.primera_caja{
    margin-top: 100px;
    padding: 30px;
    border: 2px solid black;

}
.primera_caja button{
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(255, 208, 0);
    color:black;
    border-radius: 10px;
    font-size: 15px;
    border: 2px solid rgb(0, 0, 0);
}
.reserva:hover{
    background-color: #D4AF37;
    cursor: pointer;
}

.tarjeta_lider{
    display: flex;
    gap: 20px;
    
}
.primera_tarjeta{
    border: 2px solid black;
    border-radius: 10px;
    background-color: #ffda61;
}
.segunda_tarjeta{
    border: 2px solid black;
    border-radius: 10px;
    background-color: #ffda61;
}
.tercera_tarjeta{
    border: 2px solid black;
    border-radius: 10px;
    background-color: #ffda61;
}
.tarjeta_lider div img{
    margin-top: 30px;
}
.primera_tarjeta:hover{
    background-color: #ffda61d2;
}
.segunda_tarjeta:hover{
    background-color: #ffda61d2;
}
.tercera_tarjeta:hover{
    background-color: #ffda61d2;
}
.tercera_caja{
    border: 2px solid black;
}
.formulario{
    background-color: #D4AF37;
}
.enviar{
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(255, 208, 0);
    color: black;
    border-radius: 10px;
    font-size: 15px;
    border: 2px solid rgb(0, 0, 0);
    margin-left: 400px;
}
footer{
    text-align: center;
}




    

